/*Estilizar o sidebar*/
#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    padding: 15px 20px;
}
#sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
}
#sidebar ul li a:hover {
    background-color: #34495e;
}

#user-photo {
    position: relative;
    display: inline-block;
}
#user-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px ;
}
#user-photo ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 100;
    background-color: #fff;
    box-shadow: 0 10px 5px rgba(0,0,0,0.2);
    list-style-type: none;
    padding: 10px 0;
    margin-left: 25px;
    border-radius: 5px;
    z-index: 1000;
}

#user-photo ul li {
    padding: 10px 20px;
    transition: all 0.3s ease; /
}

#user-photo ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#user-photo ul li a:hover {
    background-color: #f0f0f0;
    transform: scale(1.05); 
    padding-left: 25px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    color: #2980b9; 
    font-weight: bold; 
}

#user-greeting {
    color: #ecf0f1;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    /*Colocar o nome mais para acima*/
    position: relative;
    top: -25px;
    
}
/*Estilizar o cabeçalho*/
#header {
    margin-left: 250px;
    height: 60px;
    background-color: #2980b9;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
#header h1 {
    margin: 0;
    font-size: 24px;
}

.lgt{
    color: #0915ea;
    text-decoration: none;
    display: block;

}
.lgt:hover {
    background-color: #34495e;
}
/* Ajuste para telas menores */
@media (max-width: 600px) {
  .lps {
    top: 220px;                /* ajusta a posição para telas menores */
    left: 200px;
    width: 36px;
    height: 36px;
  }
}
