body {
    margin: 0;
    background: #f2f2f2;
    font-family: "Segoe UI", sans-serif;
}

.topo {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid gold;
}

.topo h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
}

.conteudo {
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.box-plano, .box-pagamento {
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 12px;
    padding: 25px;
    flex: 1;
    min-width: 320px;
}

.box-plano h2 {
    color: #1e3c72;
}

#plano-preco {
    font-size: 2rem;
    font-weight: bold;
    color: #daa520;
}

#plano-beneficios li {
    margin: 6px 0;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.opcao {
    font-size: 1.1rem;
}

.hidden {
    display: none;
}

.forma-ativa input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.linha {
    display: flex;
    gap: 10px;
}

.qrcode {
    width: 200px;
    display: block;
    margin: 15px auto;
}

#btn-confirmar {
    background: #1e3c72;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

#btn-confirmar:hover {
    background: #16315d;
}
#mensagem-sucesso {
    display: none;
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}